* {
	font-family: 'Roboto';
}

p{
	text-align: justify;
}

h1 {
	color: #263238;
}
u {
	text-decoration-color: #26A69A;
}

a {
	text-decoration: none;
}

.bg-main {
	background-color: #26A69A;
}

.bg-sec {
	background-color: #37474F;
}

.text-main {
	color: #37474F;
}

.text-sec {
	color: #26A69A;
}

.underline-title {
	border-bottom: solid 2px #26A69A;
	padding-right: 20px;
}
.ico {
	display: block;
    height: 60px;
	width: 60px;
	padding-top: 12px;
	text-align: center;
	border: solid 2px #37474F;
	border-radius: 50%;
}

@media screen and (max-width: 991px) {
	h5 {
		padding-top: 20px;
	}
	.reco {
	  text-align: center;
	  }
	.titrecv {
		margin-top: 20px;
	}
	#titre {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
  }

  @media screen and (min-width: 992px) {
	#titre {
		margin-left: 50px;
	}
  }